.git
.env
data
app/node_modules
app/packages/*/node_modules
app/packages/*/dist
app/.yarn/unplugged
app/.yarn/install-state.gz
server/packages/*/dist
server/.yarn/unplugged
server/.yarn/install-state.gz
server/.pnp.cjs
server/.pnp.loader.mjs
**/.DS_Store
